body{
    background: linear-gradient(to right,rgb(2, 2, 65), rgb(36, 30, 148));
    margin: 0;
    font-family: Arial, sans-serif;
    color: rgb(37, 39, 141)
}

div{
    background:rgb(248, 247, 248);
}
p{
    background:skyblue;
}
h1{
    color:rgb(9, 9, 114)
}
ul{
    background:skyblue;
}

